<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.show_sql">true</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/blog</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="opsy.entities.shit"/>
    <!--<mapping resource="/opsy/entities/Comments.hbm.xml"/>-->
    <!--<mapping resource="/opsy/entities/Users.hbm.xml"/>-->
    <mapping class="opsy.entities.Users"/>
    <mapping class="opsy.entities.Articles"/>
    <!--<mapping resource="/opsy/entities/Articles.hbm.xml"/>-->
    <mapping class="opsy.entities.Comments"/>
      <!--<mapping resource="/opsy/entities/Comments.hbm.xml"/>-->

      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>