<%--
  Created by IntelliJ IDEA.
  User: Opsymonroe
  Date: 25.12.2018
  Time: 22:07
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
        <meta charset="UTF-8">
    <title>Rules</title>
    <%@include file="/WEB-INF/views/libs.jsp" %>
</head>
<body>
        <%@include file="/WEB-INF/views/headerexample.jsp" %>
    <div class="container">
            <div class="container">
                    <div class="row justify-content-md-center">
                            <div class="col col-4">
<h1>Мы приветствуем Bас на открытой блог-платформе ПБ.</h1>
<p>
    ПБ -- это место, где каждый волен представить общественности свою позицию и обсудить ее
    с другими пользователями портала. Нам не безразлична судьба нашей платформы, поэтому для
    авторов и комментаторов определен свод правил, следование которым сделает пребывание и общение на
    портале максимально комфортным, а публикуемые материалы актуальными, достоверными и полными.
</p>
<p>
    Пожалуйста, ознакомьтесь с ними, чтобы в дальнейшем между Вами и администрацией портала не возникало недопонимания
    и чтобы Ваши статьи или Ваш профиль не были удалены с портала.
</p>
<p>Основной свод правил:</p>
<div>
    
    <img src = "http://iruntheinternet.com/lulzdump/images/moses-commandments-tablets-be-cool-dont-be-an-asshole-13858055342.jpg">
</div>
<p>
    Спасибо за Ваше внимание и понимание.
</p>
<p>
    По всем интересующим Вас вопросам Вы можете обратиться на почту администрации wewontreadanythingyouwrite@gmail.com
    </p1>
</div>
</div>
</div>
</body>
</html>